.container-fluid{
    background-color: #9e73ee;
   
}
.nav-link{
    color:aliceblue
}

.texto{
    font-family: cursive;
    border-color:#49ef9e
}

img.logoimg {
    width: 3cm;
    height: 1.2cm;
  }

.letra{
    font-family: cursive;
    text-align:center;
    color:#9e73ee
}

.btn1{
    background-color: #8f9491;
    padding: 1%;
    border-color: black;
    color: rgb(0, 0, 0);
    border-radius: 4%;
}
.letras{
    font-family: cursive;
    text-align:left;
    color:#9e73ee
    
}
.form-control{
    border:1px solid#49ef9e
}
.bor{
    border:1px solid#000000
}
.botn{
    background-color: #49ef9e;
    padding: 2%;
    border-color: black;
    color: rgb(0, 0, 0);
    border-radius: 4%;
  }
  .let{
    font-family: cursive;
    text-align:center;
    color:#030303
}
.edit{
    background-color: #49ef9e;
    border-radius: 2px;
}
.elimi{
    background-color: #7d807e;
    border-radius: 5%;
}

tr{
        border: 1px solid black;
       
        }